/* Estilos header */

header {
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgba(79, 79, 79, 0.209);
}

.head-left,
.head-right {
  display: flex;
  padding: 10px 20px;
  background-color: #010d1e;
}

.head-left {
  font-size: 20px;
  align-items: center;            /* Centra etiquetas en el medio del bloque*/
  gap: 6px;
  padding-left: 25px ;
  width: 90%;
}

.head-left a:nth-of-type(n+2) {
  margin-left: 20px;              /* espacio mayor entre los demás links */
  font-size: 14px;
}

.head-right {
  width: 10%;
  align-items: center;
  gap: 10px;
}

devjobs-avatar {
  border-radius: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

header svg {
  color: rgb(0, 94, 255);
}

header button {
  background-color: rgb(0, 49, 105);
  border-style: none;
  border-radius: 8px;
  height: 30px;
  width: 80px;
  color: rgb(1, 102, 209);
  cursor: pointer;
  transition: all .3s;

  &:hover {
      color: white;
      background-color: rgb(18, 119, 250);
      box-shadow: 0 0 8px rgb(18, 119, 250);
  }
}