* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* hace que padding y border no aumenten el ancho */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header {
    background-color: #02132c;
    display: flex;
    align-items: center;                /* Centra verticalmente */
    justify-content: space-between;     /* Distribuye los 3 bloques: logo, nav, botones */
    padding: 10px 20px;
}

.header div {
    align-items: center;
}

header div:nth-child(1) { 
    display: inline-flex;
}

header svg {
    color: rgb(0, 94, 255);
}

header h2 {
    padding-left: 8px;
}

nav {
    display: inline-flex;
    gap: 30px;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(183, 183, 183);
}

/* Div de botones */
header div:nth-child(3) { 
    display: flex;
    gap: 15px;
}

/* Botones Header Empleo */
header div:nth-child(3) button:nth-child(1) { 
    background-color: rgb(0, 49, 105);
    color: rgb(2, 118, 243);
    border-radius: 6px;
    border-style: none;
    padding: 6px;
    width: 140px;
    cursor: pointer;
}

/* Botones Header Sesion */
header div:nth-child(3) button:nth-child(2) { 
    background-color: rgb(48, 70, 95);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border-style: none;
    padding: 6px;
    width: 110px;
    cursor: pointer;
}

main {
    background-color: #02132c;
}

/* Section 1 */

main section:nth-child(1) {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), /* capa oscura */
    url(./background.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 180px;

    p {
        margin-top: 10px;
        color: #b4b6b8d7;
        padding: 15px 0 30px 0;
    }
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 700;
}

form {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;

    svg {
        position: absolute;
        left: 35.7%;
        transform: translateX(0);
        /* transform: translateX(-50%); */
        color: rgba(200, 199, 199, 0.509);
    }
}

form input {
    color: white;
    background-color: #173056;
    padding-left: 50px;
    height: 45px;
    width: 30.5%;
    border-style: none;
    border-radius: 8px;


   
    max-width: 580px;  /* para no crecer demasiado */
}

form input:focus {
    color: white;
    outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.465);
  opacity: 1;               /* asegúrate de que no sea semitransparente */
}

form button {
    position: absolute;
    right: 37%;
    transform: translateX(50%);
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(2, 118, 243);
    cursor: pointer;
}

/* Section 2 */

main section:nth-child(2) {
    text-align: center;
    padding-bottom: 100px;
}

main section:nth-child(2) header{
    padding-top: 80px;
}

main section:nth-child(2) header h2 {
    font-size: 36px;
}

main section:nth-child(2) header p {
    color: #b4b6b8d7;
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px 0;
    line-height: 22px;
}



/* Articles */

main section:nth-child(2) footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

main section:nth-child(2) footer article {
    background-color: #12274f;
    padding: 30px 0 10px 0;
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

main section:nth-child(2) footer article span {
    background-color: #06389a61;
    border-radius: 50%; /* redondea al máximo, sin importar el tamaño */
    padding: 14px 10px 20px 14.5px;
    display: flex;
    height: 60px;
    width: 60px;
}

main section:nth-child(2) footer article span svg{
    color: #0066ff;
    height: 30px;
    width: 30px;
}

main section:nth-child(2) footer article h3 {
    font-size: 24px;
    padding: 20px 120px 0 120px;


    padding: 0 10%;   /* usa porcentajes o media queries */
}

main section:nth-child(2) footer article p {
    padding-bottom: 20px;
    line-height: 22px;
    padding: 10px 140px 20px 140px;
    color: #b4b6b8d7;

    padding: 0 10%;   /* usa porcentajes o media queries */
}

/* footer */

body footer:nth-child(3) {
    border-top: 2px solid rgba(79, 79, 79, 0.209);
    background-color: #02132c;
    display: flex;
    justify-content: center;

    div {
        color: #b4b6b8d7;
        align-items: center;        /* Centra etiquetas en el medio del bloque*/
        padding: 20px 0;
        gap: 6px;
    }
}


@media (max-width: 1190px) {
    main section:nth-child(2) footer {
        grid-template-columns: 1fr;  /* un solo artículo por fila */
    }

    main section:nth-child(2) footer article h3,
    main section:nth-child(2) footer article p {
        padding: 0 20px;
    }
}


@media (max-width: 764px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    main section:nth-child(2) footer {
        grid-template-columns: 1fr;  /* un solo artículo por fila */
    }

    main section:nth-child(2) footer article h3,
    main section:nth-child(2) footer article p {
        padding: 0 20px;
    }
}