.busqueda {
    padding-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.busqueda h1 {
    text-align: center;
    font-size: 40px;
}

.busqueda p {
    text-align: center;
    padding: 1%;
}

/* Lupa svg */
.busqueda svg {
    position: absolute;
    top: 22%;
    left: 1.3%;
    color: rgba(105, 105, 105, 0.718);
}

.inputSearch {
    padding-top: 2%;
    position: relative;
}

.inputSearch button {
    display: flex;
    justify-self: center;       /* Centra el boton */
    justify-content: center;    /* Centra el texto del boton en horizontal */
    align-items: center;        /* centra el texto del boton en vertical */
    float: right;

    padding: 18px;
    background-color: rgb(0, 49, 105);
    border-style: none;
    border-radius: 8px;
    height: 30px;
    width: 120px;
    color: rgb(1, 102, 209);
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: white;
      background-color: rgb(18, 119, 250);
      box-shadow: 0 0 8px rgb(18, 119, 250);
    }
}

.inputSearch input {
    color: white;
    padding-left: 3rem;
    padding-right: 6rem;
    border-color: rgba(105, 105, 105, 0.718);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    height: 3rem;
    width: 100%;
    background-color: #041329;
}

.inputSearch input:focus {
    color: white;
    outline: none;
}

.searchFilters {
    margin-top: 1%;
    display: flex;
    gap: 10px;
}

.searchFilters select {
    height: 2.3rem;
    padding-right: 10px;        /* margen interno a la derecha */
    padding-left: 10px;         /* margen interno a la izquierda */
    border-style: none;
    border-radius: 6px;
    background-color: #112440;
    color: white;
}