/* div que encapsula a las todas las ofertas */
.ofertJobs {
    border: solid rgba(79, 79, 79, 0.209);
    border-radius: 10px;
    margin: 0 15% 0 15%;
}

/* div que encapsula la card de la oferta */
.ofertJob {
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid rgba(79, 79, 79, 0.209);
}

.ofertJob h3 {
    padding-top: 1.5%; 
}

.ofertJob small {
    display: inline-block;      /* Aplico para poder hacer margin-top */
    color: rgba(197, 196, 196, 0.718);
    margin-top: 0.4%;
}

/* Agrego margen abajo de los p */
.ofertJob p {
    font-size: small;
    color: rgba(197, 196, 196, 0.718);
    width: 90%;
    margin-top: 0.8%;
    padding-bottom: 2%;
    line-height: 18px;
}

/* Quitar el borde a la última oferta */
.ofertJob:last-child {
    border-bottom: none;
}

.btnApplied {
    margin-top: 2%;
    color:white;
    float: right;
    height: 2.3rem;
    width: 5rem;
    border-radius: 7px;
    border-style: none;
    background-color: rgb(4, 90, 203);
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: rgb(18, 119, 250);
        box-shadow: 0 0 8px rgb(18, 119, 250);
    }

    &.isApplied {
        height: 2.3rem;
        width: 8rem;
        background-color: rgb(9, 182, 35);
        box-shadow: 0 0 8px rgb(9, 182, 35);
        transition: background-color .6s, box-shadow .6s, color 0s;     /* color sin transición */
    }
}