.busqueda {
    padding-top: 2%;
    margin-left: 15%;
    margin-right: 15%;

    h1 {
        text-align: center;
        font-size: 40px;
    }

    p {
        text-align: center;
        margin-top: 1%;
    }

    /* Lupa svg */
    svg {
        position: absolute;
        top: 22%;
        left: 1.3%;
        color: rgba(105, 105, 105, 0.718);
    }

    .inputSearch {
        margin-top: 2%;
        position: relative;
    }

    input {
        color: white;
        padding-left: 3rem;
        padding-right: 6rem;
        border-color: rgba(105, 105, 105, 0.718);
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        height: 3rem;
        width: 100%;
        background-color: #041329;
    }

    input:focus {
        color: white;
        outline: none;
    }

    button {
        position: absolute;
        top: 14%;
        right: 0.7%;

        background-color: rgb(0, 49, 105);
        border-style: none;
        border-radius: 8px;
        height: 35px;
        width: 80px;
        color: rgb(1, 102, 209);
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: white;
            background-color: rgb(18, 119, 250);
            box-shadow: 0 0 8px rgb(18, 119, 250);
        }
    }

    .searchFilters {
        margin-top: 1%;
        display: flex;
        gap: 10px;
    }

    select {
        height: 2.3rem;
        padding-right: 10px;        /* margen interno a la derecha */
        padding-left: 10px;         /* margen interno a la izquierda */
        border-style: none;
        border-radius: 6px;
        background-color: #112440;
        color: white;
    }
}